{% extends 'base.html.twig' %}

{% block body %}



                <div class="title-category">
                    <h2 class="title">{{ user.pseudo }}</h2>

                </div>
                <div >

                    <p><b> </b>{{ user.firstName }}</p>
                    <p><b></b>{{ user.pseudo }}</p>
                </div>

{% endblock %}